html, body {
  height: 100%;
}
#app-root {
  width: 100%;
  height: 100%;
  animation: none;
}

*{
  margin:0;
}

@keyframes slide {
  0%   {width: 0}
  25%  {width: 25%;}
  50%  {width: 50%;}
  75%  {width: 75%;}
  100% {width: 100%;}
}

.g-input-retain-border-bottom input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-size: 16px;
}

.g-setting-row {
  display: block;
  position: absolute;
  box-shadow: 0 0 10px #d5d5d5;
  padding: 0 15px;
  background-color: white;
  border-radius: 10px;
  color: #a088e5;
  .el-row {
    margin: 10px 0;
    cursor: pointer;
    &:hover {
      color: #724ed8;
    }
    i {
      font-size: 16px;
      margin-right: 15px;
    }
  }
}
.g-button-color {

}
#register-view {
  background: url(".././image/register.jpg") no-repeat;
}
@import "~element-plus/packages/theme-chalk/src/base";
@import "./iconfont";
